<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

img {
  max-width: 200px;
  max-height: inherit;
}
  </style>
  <title>Burger BSK</title>
</head>
<body>
  {{{body}}}
  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/burger.js"></script>
</body>
</html>